html {
    font-family: 'Caveat', cursive;
font-family: 'Rubik Doodle Shadow', system-ui;
}
body {
    background-color: black;
}
.tweleve97 {
    font-family: 'Caveat', cursive;
font-family: 'Rubik Doodle Shadow', system-ui;
    color: white;
    text-align: center;
}
.rock {
    font-family: 'Caveat', cursive;
font-family: 'Rubik Doodle Shadow', system-ui;
    color: white;
    text-align: center;
}
img {
    text-align: center;
    width: 500px;
    height: 500px;

}
.one297 {
    display: flex;
    justify-content: center;
    align-items: center
}